// =============================================================================
// Column
// =============================================================================
@mixin column($spread...) {
  $argument-length: length($spread);
  $argument-split: $argument-length / 2;
  @for $i from 1 through $argument-split {
    @media (min-width: nth($spread, ($argument-split + $i))) {
      width: percentage(1 / nth($spread, $i));
      @if $i == 1 {
        float: left;
      }
    }
  }
}

// =============================================================================
// Media Queries
// Ex: @include media('titan') {}
// =============================================================================
@mixin media($breakpoint) {
  @for $i from 1 to length($breakpoints) + 1 {
    @if $breakpoint == (nth(nth($breakpoints, $i), 1)) {
      @media (min-width: nth(nth($breakpoints, $i), 2)) {
        @content;
      }
    }
  }
}

//  =============================================================================
//  Clearfix
//  =============================================================================

@mixin clearfix {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}
