//  Column Configurations
//  ========================================

// Max width of the site
$boundary: 1100 !default;

// Number of columns within the grid
$column-base: 12 !default;

// Configure the space around each column
$column-between: 1.5% !default;

// Do you need to utilize the push feature of this grid system?
$column-push-desired: true !default;

// Do you need to utilize the pull feature of this grid system?
$column-pull-desired: true !default;

//  Breakpoints
//  ========================================
$breakpoints: (
    ("bp3", "300px"),
    ("bp4", "400px"),
    ("bp5", "500px"),
    ("bp6", "600px"),
    ("bp7", "700px"),
    ("bp8", "800px"),
    ("bp9", "900px"),
    ("bp10", "1000px"),
    ("bp11", "1100px"),
    ("bp12", "1200px"),
    ("bp13", "1300px")
) !default;